<h3>Admin Page</h3>

<form action="admin" method="post">
    <input type="hidden" value="delete_all_spreadsheets">
    <input type="submit" value="Remove all spreadsheets" class="btn btn-danger">
</form>
