<h2>Schedule Scraper</h2>


<form action="output" method="post">
    
    <% 3.times do |n| %>
        Enter a program:
        Program Name: <input type="text" name="<%="program_#{n}"%>[program_name]">
        Program URL: <input type="text" name="<%="program_#{n}"%>[program_uri]">
        Add Section Filter: <input type="text" name="<%="program_#{n}"%>[sections]">
        Add Keyword Filter: <input type="text" name="<%="program_#{n}"%>[keyword]">
        <br />
        <br />
    <% end %>
    <input type="submit" class="btn">
</form>
