<h2>Schedule Scraper</h2>

Enter a program:

<form action="output" method="post">
    Program Name: <input type="text" name="program_name">
    Program URL: <input type="text" name="program_uri">
    Add Section Filter: <input type="text" name="sections">
    Add Keyword Filter: <input type="text" name="keyword">
    <input type="submit">
</form>
