<html>
    <head>
        <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="css/bootstrap/js/bootstrap.js"></script>

    </head>
    <body>

        <div class="header">
            <h1><a href="/">Schedule Scraper</a></h1>
        </div>

        <div class="main-content">
            <%= yield %>
        </div>

    </body>
</html>
