<html>
    <head>
        <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="css/bootstrap/js/bootstrap.js"></script>

        <title>Schedule Scraper</title>

    </head>
    <body>

        <div class="header">
            <div class="title">
                <h1><a href="/">Schedule Scraper</a></h1>
            </div>
            <div class="info">
                <a href="https://github.com/jasonblanchard/schedule-scraper" target="_blank">Fork me on github</a> <i class="icon-random"></i> <br /> 
                <a href="https://github.com/jasonblanchard/schedule-scraper/issues" target="_blank">I found a bug!</a> <i class="icon-comment"></i>
            </div>
        </div>

        <div class="main-content">
            <%= yield %>
        </div>

    </body>
</html>
