.main-content, .header {
    width: 90%;
    margin: auto;
}

.main-content {
    padding-top: 60px;
}

.header {
    margin-bottom: 30px;
}

.title {
    width: 400px;
    float: left;
}

.info {
    width: 400px;
    float: right;
    text-align: right;
    margin-top: 10px;
}

form {
    width: 75%;
    margin: auto;
}

table.courses {
    margin-top: 10px;
    font-size: small;
}


