.main-content, .header {
    width: 90%;
    margin: auto;
}

.main-content {
    padding-top: 60px;
}

.header {
    margin-bottom: 30px;
}

.title {
    width: 400px;
    float: left;
}

.info {
    width: 175px;
    float: right;
    margin-top: 10px;
}

.program-form {
    width: 70%;
    float: left;
}

table.courses {
    margin-top: 10px;
    font-size: small;
}

.saved-searches {
    width: 20%;
    float: left;
    padding-left: 50px;
}

#stats {
    width: 500px;
    float: left;
}

a#download-button {
    float: right;
}

.top-bar {
    height: 30px;
    margin-top: 20px;
}

form.delete-saved-search .btn {
    float: right;
}

.alert {
    width: 30%;;
    margin: auto;
}

.demo-video {
    width: 500px;
    margin: auto;
}
